.newMessageMe{
    background-color: indianred;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .messageMe{
        background: #1DA1F2;
        height: auto;
        width: 200px;
        border-radius: 50px;
        padding: 15px;
    }
   
}
