.newMessageOther{
    background-color: indianred;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .messageOther{
        border:1px solid #1DA1F2;
        height: auto;
        width: 200px;
        border-radius: 50px;
        padding: 15px;
    }
    .messageOther:hover{
        background:  #1DA1F2;
    }
}
