.container-chat{
    height: 100%;
    width: 500px;
    border: 1px solid red;
    .container-header-chat{
        font-size: 1.1;
        background-color: #14171A90;
        position: absolute;
        width: 100%;
    }
    .chat{
        height: 93%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;
    }
    .inputs{
        border: 1px solid blue;
        display: flex;
        position: absolute;
        width: 500px;
        bottom: 0;
        form{
            height: 100%;
            width: 100%;
            .inputTextChat{
                background: #000000;
                font-family: Helvetica,Arial,sans-serif;
                color: white;
                border: 1px solid #14171A;
                padding: 20px;
                border-radius: 50px;
                width: 80%;
            }
            .inputSubmitChat{
                background: #000000;
                font-family: Helvetica,Arial,sans-serif;
                color: white;
                border: 1px solid #14171A;
                padding: 20px;
                border-radius: 50px;
                width: 20%;
            }
        }
    }
}