.container-contact{
    width: 600px;
    .header{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        h1{
            margin: 10px;
            font-size: 1.1em;
        }
        .container-contact-svg{

        }
        
    }
    input{
        background: #000000;
        font-family: Helvetica,Arial,sans-serif;
        color: white;
        border: 1px solid #14171A;
        padding: 20px;
        border-radius: 50px;
        width: 100%;
    }
    .container-all-contacts{
        overflow-y: scroll;
        height: 100%;
    }
    
}