.container-nav{
    display: inline-flex;
    flex-direction: column;
    .container-notification-btn{
        padding: 0 30px 0 0;
    }
    .container-btn{
        align-items: center;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 1.1em;
    }
    .container-btn:hover{
        background-color: #14171A;
        border-radius: 50px;
        width: auto;
        height: auto;
    }
    .container-tweet-btn{
        background-color:#1DA1F2 ;
        padding: 10px 30px 10px 30px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container-tweet-btn:hover{
        background-color:#1b8bd1 ;
        padding: 10px 30px 10px 30px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}